@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
 
/* Mobile Size. Screen size < 768px */
body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
hr { /* hr element is treated as border*/
    color: black;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 15%;
    transition: 0.5s;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.5s;
}
footer {
    text-align: center;
}
#nav-link {
    /* display: none; In mobile size, the nav bar won't be displayed */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s;
    text-align: center;
}
#nav-link.open {
    /* display: block; */
    max-height: 300px;
    text-align: center;
    transition: 1s ease-in-out;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.open .bar2 {opacity: 0;}

.open .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}
          
      
/* Tablet Size. Screen size > 768px */
@media screen and (min-width: 768px) {
    main {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        /* align-self: flex-end; */
    }

    nav a {
        padding: 20px;
        color: black;
        display: block;
        align-self: flex-end;
    }
}

/* Desktop Size. Screen size > 1024px */
@media screen and (min-width: 1024px){
    main {
        display: flex;
        flex-wrap: nowrap;
    }

    section {
        flex: 1;
    }
}